<!-- <div style="margin-bottom: 1%;color:blue;">
    <strong>Basic Angular17 Standalone App</strong><br/>
</div>
<div>
    <strong style="margin-bottom: 1%;">Basic mat table example with sorting and filtering</strong>
    <strong style="margin-left: 32%;">Basic Ag-Grid example with sorting, filtering and inline editing</strong>

</div> -->
<div>
    <!-- <div style="float: left;">
        <app-mattb></app-mattb>

    </div>
    <div style="float: right;margin-top: 3%;">
        <app-aggrid></app-aggrid>
    </div> -->

   <inline-edit-table></inline-edit-table>

</div>

